<mat-card class="card">
  <div>
    <div class="card-title">{{ transaction().title }}</div>

    <div class="card-value">
      <app-transaction-value [transaction]="transaction()" />
    </div>
  </div>

  <div class="card-actions">
    <button
      type="button"
      matButton="filled"
      class="btn-error"
      (click)="remove.emit(transaction().id)"
    >
      Remover
    </button>
    <button type="button" matButton="filled" (click)="edit.emit(transaction().id)">Editar</button>
  </div>
</mat-card>
