@use '../variables' as vars;

.container {
  display: flex;
  justify-content: center;
  margin-top: 24px 0;
  padding: 0 24px;

  &-content {
    width: 100%;
    max-width: vars.$content-width;
  }
}
